In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import pandas as pd

In [2]:
data_df = pd.read_csv("cleaned_mode.csv")
data_df.head()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,city_103,0.920,Male,1,none,Graduate,STEM,>=10,50-99,Pvt Ltd,1,36,1.0
1,Other,0.776,Male,0,none,Graduate,STEM,>=10,50-99,Pvt Ltd,>4,47,0.0
2,city_21,0.624,Male,0,full-time,Graduate,STEM,5-9,50-99,Pvt Ltd,never,83,0.0
3,Other,0.789,Male,0,none,Graduate,Business Degree,0-2,50-99,Pvt Ltd,never,52,1.0
4,Other,0.767,Male,1,none,Masters,STEM,>=10,50-99,Funded Startup,4,8,0.0

In [4]:
# Determine the number of unique values in each column.
unique_cols = data_df.nunique()
unique_cols

city                       15
city_development_index     93
gender                      3
relevent_experience         2
enrolled_university         3
education_level             5
major_discipline            6
experience                  4
company_size                8
company_type                6
last_new_job                6
training_hours            241
target                      2
dtype: int64

In [5]:
final_data_df = pd.get_dummies(data_df)
final_data_df

,city_development_index,relevent_experience,training_hours,target,city_Other,city_city_100,city_city_102,city_city_103,city_city_104,city_city_11,...,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd,last_new_job_1,last_new_job_2,last_new_job_3,last_new_job_4,last_new_job_>4,last_new_job_never
0,0.920,1,36,1.0,0,0,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
1,0.776,0,47,0.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0.624,0,83,0.0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0.789,0,52,1.0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
4,0.767,1,8,0.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,0.878,0,42,1.0,1,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
19154,0.920,1,52,1.0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
19155,0.920,1,44,0.0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
19156,0.802,1,97,0.0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
19157,0.855,0,127,0.0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0

In [7]:
# Split our preprocessed data into our features and target arrays
X = final_data_df.drop(['target'], axis=1)
y = final_data_df['target']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn_model_1 = tf.keras.models.Sequential()

# First hidden layer
nn_model_1.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer1,
    input_dim=number_input_features, 
    activation="relu")
)

# Second hidden layer
nn_model_1.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, 
    activation="relu")
)

# Output layer
nn_model_1.add(tf.keras.layers.Dense(
    units=1, 
    activation="sigmoid")
)

# Check the structure of the model
nn_model_1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4800

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 7,261
Trainable params: 7,261
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Compile the model
nn_model_1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [11]:
# Train the model
fit_model = nn_model_1.fit(X_train_scaled, y_train, epochs=40)

Epoch 1/40
449/449 [==============================] - 1s 658us/step - loss: 0.4890 - accuracy: 0.7646
Epoch 2/40
449/449 [==============================] - 0s 637us/step - loss: 0.4554 - accuracy: 0.7853
Epoch 3/40
449/449 [==============================] - 0s 626us/step - loss: 0.4455 - accuracy: 0.7887
Epoch 4/40
449/449 [==============================] - 0s 636us/step - loss: 0.4393 - accuracy: 0.7924
Epoch 5/40
449/449 [==============================] - 0s 651us/step - loss: 0.4336 - accuracy: 0.7958
Epoch 6/40
449/449 [==============================] - 0s 672us/step - loss: 0.4294 - accuracy: 0.7960
Epoch 7/40
449/449 [==============================] - 0s 623us/step - loss: 0.4233 - accuracy: 0.8022
Epoch 8/40
449/449 [==============================] - 0s 691us/step - loss: 0.4184 - accuracy: 0.8021
Epoch 9/40
449/449 [==============================] - 0s 674us/step - loss: 0.4142 - accuracy: 0.8035
Epoch 10/40
449/449 [==============================] - 0s 676us/step - loss: 0.4100 - accuracy: 0.8056
Epoch 11/40
449/449 [==============================] - 0s 653us/step - loss: 0.4052 - accuracy: 0.8108
Epoch 12/40
449/449 [==============================] - 0s 647us/step - loss: 0.4011 - accuracy: 0.8122
Epoch 13/40
449/449 [==============================] - 0s 649us/step - loss: 0.3965 - accuracy: 0.8131
Epoch 14/40
449/449 [==============================] - 0s 641us/step - loss: 0.3913 - accuracy: 0.8159
Epoch 15/40
449/449 [==============================] - 0s 645us/step - loss: 0.3871 - accuracy: 0.8197
Epoch 16/40
449/449 [==============================] - 0s 634us/step - loss: 0.3825 - accuracy: 0.8222
Epoch 17/40
449/449 [==============================] - 0s 649us/step - loss: 0.3780 - accuracy: 0.8243
Epoch 18/40
449/449 [==============================] - 0s 702us/step - loss: 0.3739 - accuracy: 0.8238
Epoch 19/40
449/449 [==============================] - 0s 656us/step - loss: 0.3709 - accuracy: 0.8261
Epoch 20/40
449/449 [==============================] - 0s 656us/step - loss: 0.3659 - accuracy: 0.8324
Epoch 21/40
449/449 [==============================] - 0s 697us/step - loss: 0.3615 - accuracy: 0.8316
Epoch 22/40
449/449 [==============================] - 0s 659us/step - loss: 0.3579 - accuracy: 0.8354
Epoch 23/40
449/449 [==============================] - 0s 651us/step - loss: 0.3540 - accuracy: 0.8347
Epoch 24/40
449/449 [==============================] - 0s 661us/step - loss: 0.3508 - accuracy: 0.8396
Epoch 25/40
449/449 [==============================] - 0s 644us/step - loss: 0.3469 - accuracy: 0.8403
Epoch 26/40
449/449 [==============================] - 0s 682us/step - loss: 0.3434 - accuracy: 0.8418
Epoch 27/40
449/449 [==============================] - 0s 654us/step - loss: 0.3403 - accuracy: 0.8397
Epoch 28/40
449/449 [==============================] - 0s 634us/step - loss: 0.3377 - accuracy: 0.8435
Epoch 29/40
449/449 [==============================] - 0s 703us/step - loss: 0.3339 - accuracy: 0.8458
Epoch 30/40
449/449 [==============================] - 0s 651us/step - loss: 0.3299 - accuracy: 0.8458
Epoch 31/40
449/449 [==============================] - 0s 691us/step - loss: 0.3281 - accuracy: 0.8486
Epoch 32/40
449/449 [==============================] - 0s 664us/step - loss: 0.3261 - accuracy: 0.8486
Epoch 33/40
449/449 [==============================] - 0s 655us/step - loss: 0.3221 - accuracy: 0.8513
Epoch 34/40
449/449 [==============================] - 0s 660us/step - loss: 0.3201 - accuracy: 0.8517
Epoch 35/40
449/449 [==============================] - 0s 654us/step - loss: 0.3164 - accuracy: 0.8518
Epoch 36/40
449/449 [==============================] - 0s 647us/step - loss: 0.3150 - accuracy: 0.8556
Epoch 37/40
449/449 [==============================] - 0s 657us/step - loss: 0.3118 - accuracy: 0.8567
Epoch 38/40
449/449 [==============================] - 0s 729us/step - loss: 0.3079 - accuracy: 0.8582
Epoch 39/40
449/449 [==============================] - 0s 661us/step - loss: 0.3066 - accuracy: 0.8582
Epoch 40/40
449/449 [==============================] - 0s 656us/step - loss: 0.3045 - accuracy: 0.8601

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model_1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

150/150 - 0s - loss: 0.6289 - accuracy: 0.7447 - 174ms/epoch - 1ms/step
Loss: 0.6288864612579346, Accuracy: 0.744676411151886